@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,300&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
}
header{
    padding-top: 10px;
    height: 90vh;
    background-image: url(images/desktop/image-header.jpg);
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
}
.logo img{
    float: left;
}
nav {
    float: right;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;

}

li a {
    color: #fff;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    margin-top: 15px;
}
li a:hover {
    background-color:hsl(228, 45%, 44%);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
header > img{
    width: 100vw;
    height:500px;
}
header h1 {
    color: #fff;
    text-align: center;
    margin-top:50px;
    font-weight: bold;
    font-family: 'Fraunces', serif;
    font-size:80px;
}
.arrow{
    height: auto;
    width: auto;
    margin-left:50vw;
    margin-top:80px;
}
.first{
    display: flex;
    justify-content: center;
}
.left{
    text-align:left;
    margin:100px;
}
.left h2{
    color:rgb(49, 47, 47);
    font-family: 'Fraunces', serif;
    font-size: 50px;
    width: 200px;
    text-align: center;
    margin: 30px 0;
}
.left p{
    color: grey;
    font-family: 'Fraunces', serif;
    width: 400px;
    margin: 30px 0;
}
strong {
    color:rgb(49, 47, 47);

}
.second{
    display: flex;
    justify-content:center;
}
.three{
    display: flex;
    justify-content:center;
    height:100vh;
    position: relative;
}
.cheery{
    background-image: url(images/desktop/image-graphic-design.jpg);
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
}
.orange {

    background-image: url(images/desktop/image-photography.jpg);
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
}

.orange h2{
    color:#fff;
    font-family: 'Fraunces', serif;
    font-size: 50px;
    width: 100px;
    margin: 50px 170px;
    position: absolute;
    bottom:100px;
    right:150px;
}
.orange p{
    color:#fff;
    text-align: center;
}
.cheery h2{
    color:#fff;
    font-family: 'Fraunces', serif;
    font-size: 50px;
    width: 100px;
    margin: 50px 170px;
    position: absolute;
    bottom:50px;
    left:80px;
}
.cheery p{
    color: #fff;
    text-align: center;
}